[Desktop Entry]
Name=MyPasswordSafe
Comment=Password Safe - narzędzie do zarządzania bazą danych haseł
Comment[pl]=Password Safe - a password database utility
Icon=MyPasswordSafe
Exec=MyPasswordSafe
Terminal=false
Type=Application
Categories=Qt;System;X-administration;
# vi: encoding=utf-8
